<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>TimeSheet</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/png" th:href="@{/img/spring.png}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  ></script>
<script type="text/javascript" src="../static/js/client.js" th:src="@{/js/client.js}"></script>
<script type="text/javascript" src="../static/js/logout.js" th:src="@{/js/logout.js}"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
<a class="navbar-brand" th:href="@{/newhome}"><i class="fa fa-home" style="font-size:32px;color:blue"></i></a>
<a th:href="@{/logout}"><button type="button" th:onClick="|return logout();|" class="btn btn-link"><i class="fa fa-power-off" sec:authorize="isAuthenticated()" style="font-size:24px;color:red"></i></button></a>
</nav><br><h5 style="color:white;float:right;">Welcome:<span sec:authentication="name" style="color:white;float:right;"></span></h5>
<div class="card"><br>
<form action="#" th:action="@{/donepass}" th:object="${np}" method="post">
<h3 align=center>Change Password</h3>
<div class="card-body">
<div class="row">
<div style="display:none;"><span id="oldpass" sec:authentication ="principal.password" style="color:white;float:right;"></span></div>
<div class="col-md-3">
<label for="name" class="col-form-label">Old Password</label>
<input type="password" th:field="*{oldpassword}" class="form-control" id="oldpass1" placeholder="Old Password"> 
</div>
<div class=" col-md-3">
<label for="email" class="col-form-label">New Password</label> 
<input type="password" th:field="*{newpassword}" class="form-control" id="newpass" placeholder="New Password"> 
</div>
<div class="col-md-3">
<label for="contactno" class="col-form-label">Confirm Password</label> 
<input type="password" th:field="*{confirmnewpassword}" class="form-control" id="conpass" placeholder="Confirm Password"> 
</div>
</div><br>
<div class="col-md-10">
<input type="submit" class="btn btn-success" th:onClick="|return changePassword();|" value="Change Password" >
</div>
</div>
</form>
</div>
</body>
</html>