<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>TimeSheet</title>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/png" th:href="@{/img/spring.png}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/forgotpassword.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
<script type="text/javascript" src="../static/js/forgotpassword.js" th:src="@{/js/forgotpassword.js}"></script>
</head>
<body>
<form action="#" th:action="@{/uppass}" th:object="${fp}" method="post">
<div th:text="${exception}"></div>
<div class="form-gap"></div>
<div class="container">
<div class="row">
<div class="col-md-4 col-md-offset-4">
<div class="panel panel-default">
<div class="panel-body">
<div class="text-center">
<h3><i class="fa fa-lock fa-4x"></i></h3>
<h2 class="text-center">Forgot Password?</h2>
<p>You can reset your password here.</p>
<div class="panel-body">
<div class="form-group">
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
<input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Email"> 
</div>
</div>
<div class="form-group">
<input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit" th:onClick="|return forgotpass();|">
</div>
<input type="hidden" class="hide" name="token" id="token" value=""> 
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</form>
<div style=padding-left:600px;>
<a th:href="@{/login}"><button type="button" class="btn btn-primary">Back Login</button></a>
</div>
</body>
</html>




































































<!-- 
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/forgotpassword.css}" />
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
<h3 style="padding-left:500px; color:white" align=center>Forgot Password</h3>
</nav><br><br>
<div class="container bgimgadd"><br>
<h4 align=center>Please Enter the Valid Email id</h4>
<form action="#" th:action="@{/uppass}" th:object="${fp}" method="post">
<label for="name" class="col-form-label">Email</label>
<input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Email"> 
<input type="submit" class="btn btn-primary" value="Reset Password" th:onClick="| return forgotpass()">
</form>
</div><br><br>
<div style=padding-left:500px;>
<a th:href="@{/login}"><button type="button" class="btn btn-primary">Back Login</button></a>
</div>
</body>
</html> -->